@import '../../scss/variables.scss';

#toast-dock {
  position: fixed;
  bottom: 25px;
  left: 0;
  padding: 0 $page-padding-x;
  width: 100vw;
  z-index: 1000;

  @media (min-width: $desktop) {
    bottom: 52px;
  }
}

.toast {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 485px;

  &:not(:last-of-type) {
    margin-bottom: 4px;
  }

  @media (min-width: $desktop) {
    &:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }
}
