@import '../../scss/variables.scss';

#toast-dock {
  position: fixed;
  top: 25px;
  left: 0;
  padding: 0 $page-padding-x;
  width: 100%;
  user-select: none;

  @media (min-width: $desktop) {
    top: 52px;
    width: 480px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
  }
}

.toast {
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 4px;
  }

  @media (min-width: $desktop) {
    &:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }
}
